body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #000000fc;
}

.container {
    background-color: #b1d472;
    border: 1px solid #7754e2;
    padding: 20px;
    box-shadow: 0 0 10px rgba(61, 134, 168, 0.9);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #333;
}

pre {
    white-space: pre-wrap;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    margin: 0;
}
